body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
    fill: rgba(0,0,255,0.4);
}

.overlay {
  fill: none;
  pointer-events: all;
}

table {
    font-size: 1.0em;
}

.hidden {
    display: none;
}

.nav {
    font: 12px serif;
}
.selected {
    color: #184B93;
    font-weight: bold;
}

.nav:hover {
    color: #5E82D9;
}

.selected:hover {
    color: #184B93;
}

th {
    text-align: right;
    padding-right: 0.5em;
}